/* Common Styles */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    
    font-weight: 400;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: rgb(255, 255, 255);
  
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
/* Menu */
.menu {
    width: 4rem;
    height: 4rem;
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 10;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  
  
  .menu-line {
    width: 100%;
    height: 0.2rem;
    background-color: #fff;
    margin: 0.3rem 0;
    box-shadow: 0.1rem 0.1rem 0.3rem #222;
    transition: transform 0.5s;
  }
  
  .navbar {
    width: 15vw;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -15vw;
    display: flex;
    flex-direction: column;
    padding: 4rem 0 0 4rem;
    z-index: 10;
    transition: left 0.5s;
  }
  
  .navbar.change {
    left: 0;
  }
  
  .navbar-link {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2rem 0;
    color: #777;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    transition: color 0.3s;
  }
  
  .navbar-link:hover {
    color: #111;
  }
  /* End of Navbar */
  /*******************************/
 .logo {
   padding-top: 15px;
   padding-bottom: 15px;
text-align: center;
border: hidden 1px black;
background-color: rgb(175, 169, 169);
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.text{

font-size: 18px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
line-height: -10px;
border: 1px hidden ;

}
div>p{
  margin:10px ;
}

.gallery {
  margin: 10rem 0;

}

/*audi*/
.gallery img {
  width: 15%;
  /* position: absolute;
  bottom: 6rem;
  transform: translateX(-50%) rotateX(0.5deg); */
  box-shadow: 0.2rem -0.2rem 0.5rem #888;
  border-radius: 0.5rem;
  transform-origin: bottom;
  transition: all 0.3s;

}



.gallery-img-1 {
  left: 50%;
  margin-bottom: 75px;
  margin-right: 10px;
}


.gallery-img-2 {
  left: 30%;
  margin-bottom: 75px;
  margin-right: 10px;
}


.gallery-img-3 {
  left: 70%;
  margin-bottom: 75px;
}

.oldcar{
  width: 30%;
}

/*ferrari*/
.ferrari{
  margin-top: 500px;
}
.logo {
  padding-top: 15px;
  padding-bottom: 15px;
text-align: center;
border: hidden 1px black;
background-color: rgb(175, 169, 169);
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


/*responsive */

@media (max-width: 1500px) {
  .navbar {
    width: 20vw;
    padding: 2rem 0 0 2rem;
    left: -20vw;
  }

  .menu.change {
    left: 20vw;
  }


.logo>image{

  width: 50%;
  height: 30px;
}


  .gallery {
    margin: 12rem 0;
  }

  .gallery-shelf {
    width: 100%;
  }

  .gallery img {
    width: 20%;
  }
.gallery-img-1
{
 margin-right:10%;
}
  .gallery-img-2 {
    margin-right: 10%;
  }

  .gallery-img-3 {
    margin-right: 10%;
  }

  

}

@media (max-width: 1000px) {
  body {
    padding-right: 0;
  }

  .navbar {
    width: 25vw;
    left: -25vw;
  }

  .menu.change {
    left: 25vw;
  }

  .logo>image{

    width: 50%;
    height: 30px;
  }

}

@media (max-width: 750px) {
  .navbar {
    width: 30vw;
    left: -30vw;
  }

  .menu.change {
    left: 30vw;
  }

  section.change {
    left: 30vw;
    transform: rotateY(25deg);
  }

  .section-heading {
    font-size: 5.5rem;
  }

  .section-4 {
    padding: 6rem 0 1rem 0;
  }

  .gallery-shelf {
    height: 1.5rem;
    width: 95%;
  }
  .gallery-img-1{
    margin-left: 10%;
  }

  .gallery-shelf::before {
    height: 5rem;
    top: -5rem;
  }

  .gallery img {
    width: 25%;
    bottom: 4rem;
  }

  .gallery-img-2 {
    left: 22%;
  }

  .gallery-img-3 {
    left: 78%;
  }
  

}

@media (max-width: 600px) {
  html {
    font-size: 55.5%;
  }

  .navbar {
    width: 40vw;
    left: -40vw;
  }

  .menu.change {
    left: 40vw;
  }

  

  .section-1-img {
    width: 100%;
  }
  .gallery-img-1{
    margin-left: 10%;
  }




  .gallery {
    margin: 9rem 0;
  }

  
}

@media (max-width: 500px) {
.logo>img{
  width: 75%;
  height: 160px;

}
  html{
    font-size: 40%;
  }
 
}
@media (max-width:470px){
  .logo1{
    width: 175px;
    height:100px;
}

.logo3{
  width: 75%;
}
}

/* End of Responsive */


  
  